* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto';
}

.promo {
  height: 800px;
  background: url("../image/img/main_bg.jpg") center center/cover no-repeat;
  padding: 39px 0 62px 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.logo_img {
  display: block;
  margin: 0 auto;
}

.logo_text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 14px;
}

h1 {
  margin-top: 53px;
}

.title {
  color: #f9bf3b;
  font-size: 41px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

h2.title {
  margin-top: 30px;
}

.title_big {
  color: #ffffff;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin-top: 21px;
}

.promo-text {
  padding: 0 13px;
  color: #ffffff;;
  font-size: 21px;
  font-weight: 300;
  text-align: center;
  margin-top: 23px;
  line-height: 28px;
}

.promo-text span {
  color: #f9bf3b;
  font-weight: 700;
}

.promo_btn {
  display: block;
  margin: 0 auto;
  width: 313px;
  height: 72px;
  margin-top: 73px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.more {
  margin-top: 73px;
}

.more_text {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.more_img {
  display: block;
  margin: 0 auto;
  margin-top: 13px;
}

.waiting {
  min-height: 604px;
  background-color: #efefef;
  padding: 85px 0 75px 0;
}

.waiting_header {
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding-top: 86px;
}

.waiting_divider {
  margin: 0 auto;
  margin-top: 18px;
  height: 4px;
  width: 217px;
  background-color: #f9bf3b;
}

.waiting_subheader {
  color: #4a4a4a;
  margin-top: 17px;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.waiting_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.waiting_item {
  width: 339px;
  text-align: center;
}

.waiting_item img {
  width: 100%;
}

.waiting_descr {
  margin-top: 33px;
  color: #4a4a4a;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}

.optimization {
  height: 550px;
  padding: 102px 0 107px 0;
}

.optimization_header {
  margin-left: 391px;
  color: #299cbd;
  font-size: 30px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}

.optimization_text {
  margin-top: 25px;
  margin-left: 391px;
  color: #4a4a4a;
  font-size: 17px;
  font-weight: 300;
  line-height: 27px;
  font-weight: 300;
}

.optimization_text span {
  font-weight: 700;
}

.optimization_img {
  position: absolute;
  top: -54px;
  left: -240px;
  z-index: -1;
}
.finish {
  min-height: 447px;
  background: url("../image/img/second_bg.jpg") center center/cover no-repeat;
  padding: 86px 0 79px 0;
}

.finish_header {
  color: #efefef;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.finish_divider {
  margin: 0 auto;
  margin-top: 18px;
  height: 4px;
  width: 217px;
  background-color: #f9bf3b;
}

.finish_wrapper {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.finish_item {
  width: 204px;
}

.finish_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 115px;
  height: 115px;
  background-color: #b4e2ff;
  border-radius: 100%;
}

.finish_descr {
  margin-top: 25px;
  text-align: center;
  color: #efefef;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
}

.gift {
  height: 628px;
  background-color: #efefef;
  padding: 86px 0 87px 0;
}

.gift_img {
  display: block;
  margin: 0 auto;
}

.gift_text {
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  margin-top: 42px;
}

.gift_btn {
  display: block;
  margin: 0 auto;
  margin-top: 52px;
  width: 313px;
  height: 72px;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.18);
  border: 4px solid rgba(0, 0, 0, 0.23);
  background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 21px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

.webinar {
  padding: 89px 0 64px 0;
  text-align: center;
}

.webinar_img {
  display: block;
  margin: 0 auto;
}

.webinar_start {
  margin-top: 37px;
  color: #252525;
  font-size: 30px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}

.webinar_time {
  margin-top: 30px;
  color: #299cbd;
  font-size: 36px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
}

.webinar_text {
  margin-top: 25px;
  color: #4a4a4a;
  font-size: 23px;
  font-weight: 400;
  line-height: 20px;
}

.footer {
  height: 166px;
  padding: 61px 0 69px 0;
  background-color: #1a1a1a;
  text-align: center;
  color: #888888; 
}

.footer a {
  color: #888888;
  font-family: Roboto;
  text-decoration: underline;
}

.footer .contact_us {
  margin-top: 5px;
  font-weight: 300;
  font-size: 15px;
}

.footer .support {
  padding-right: 4px;
  border-right: 1px solid #888888;
}
